@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #5D0B1E;
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container {
    width: 350px;
    height: 450px;
    background-color: white;
    border-radius: 15px;
}
.logar {
    font-size: 2em;
    font-weight: bold;
    margin: 30px 40px 10px;
}
.logar::before {
    content: '';
    position: absolute;
    top: 153px;
    /*
    top: 175px;
    left: 980px;
    transform: translate(-475px, -20px);
    */
    width: 35px;
    height: 4px;
    background-color: #5D0B1E;
    border-radius: 15px;
}
.entrar {
    display: flex;
    flex-direction: column;
}
.entrar input {
    border: 0;
    margin: 5px 60px;
    padding: 7px;
    outline: none;
    background-color: rgb(241, 241, 241);
    border: black 1px solid;
    font-size: 16px;
    border-radius: 5px;
    color: black;
}
.entrar button {
    padding: 7px;
    background-color: #8C0715;
    color: #fff;
    font-size: 16px;
    border: #8C0715 1px solid;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    margin: 10px auto 0 auto;   
}
.entrar button:hover {
    background-color: #a80919;
}
.conect {
    margin-top: 10px;
    font-size: .9em;
    text-align: center;
    color: gray;
}

.social {
    margin: 10px auto;
    width: 230px;
}
.social > div{
    margin-bottom: 10px;
}
.social > div p {
    margin: auto;
}
.fa {
    color: white;
    width: 20px;
}
.facebook {
    border-radius: 5px;
    display: flex;
    background-color: #234582;
}
.facebook:hover {
    background-color: #1958cc;
}
.fa-facebook-f {
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
    background-color: #243867;
}
.google {
    border-radius: 5px;
    display: flex;
    background-color: #F34234;
}
.google:hover {
    background-color: #b9342a;
}
.fa-google {
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
    background-color: #C42E24;
}
.twitter {
    border-radius: 5px;
    display: flex;
    background-color: #4F9AE1;
}
.twitter:hover {
    background-color: #40a3ff;
}
.fa-twitter {
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
    background-color: #0894CF;
}
a {
    text-decoration: none;
    color: white;
}
/* Dispositivos extra pequenos (telefones, 600px e inferior) */
@media only screen and (max-width: 600px) {
    body {
        background-color: blue;
    }
    .logar::before {
        top: 168px;
    }
}

/* Dispositivos pequenos (tablets de retrato e telefones grandes, 600px e superior) */
@media only screen and (min-width: 600px) {
    body {
        background-color: yellow;
    }
    .logar::before {
        top: 168px;
    }
}

/* Dispositivos médios (tablets de paisagem, 768px e superior) */
@media only screen and (min-width: 768px) {
    body {
        background-color: green;
    }
    .logar::before {
        top: 168px;
    }
}

/* Dispositivos grandes (laptops/desktops, 992px e superior) */
@media only screen and (min-width: 992px) {
    body {
        background-color: lightgray;
    }
    .logar::before {
        top: 168px;
    }
}
/* Dispositivos extragrandes (laptops e desktops grandes, 1200px e superior) */
@media only screen and (min-width: 1200px) {
    body {
        background-color: magenta;
    }
    .logar::before {
        top: 153px;
    }
}

/*


    top: 153px;

@media screen and (min-width: 780px) {
    .logar::before {
        margin: auto;
        width: 90%;
    }
}
*/